<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layouts/main-manager-layout :: main-manager-fragment(  
                                                ~{::title},
                                                ~{::#home-static-resources},
                                                ~{::#home-main-content} )}">
<head>
<title>Quản lý giảng viên</title>

<th:block id="home-static-resources">
	
	<link
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
	rel="stylesheet" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
</th:block>

</head>
<div id="home-main-content">
	<div class="row col-sm-12 justify-content-center p-5">
		<div class="col-sm-12">
			<form th:action="${#httpServletRequest.requestURI == '/manager/lecturer/add' ? '/manager/lecturer/add' : '/manager/lecturer/update'}" 
			method="post" th:object="${lecturer}" enctype="multipart/form-data">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title text-center">
							<b> Thông tin giảng viên </b>
						</h3>
						<hr>
			<div th:if="${message != null}"
           th:utext="${message}" class="alert alert-danger" role="alert"></div>
           <div th:if="${param.message != null}"
           th:text="${param.message[0]}" class="alert alert-warning" role="alert"></div>
						<div class="card-body">
							<div class="row">
								<div class="form-group col-sm-3">
								<label for="id">Tên đăng nhập:</label> 
								<input th:field="*{id}" type="text"
									placeholder="Nhập username" class="form-control" id="id" th:readonly="${#httpServletRequest.requestURI != '/manager/lecturer/add'}"/>
								<span th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>
								</div>
								
								<div class="form-group col-sm-3">
								<label for="password">Mật khẩu:</label> 
								<input th:if="${#httpServletRequest.requestURI == '/manager/lecturer/add'}" th:field="*{password}" type="password"
									placeholder="Nhập password" class="form-control" id="password"/>
								<input type="hidden" name="pass"  th:value="*{password}" />
								<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
								</div>
							
								<div class="form-group col-sm-6">
									<label for="fulName">Họ tên:</label> 
									<input th:field="*{fullName}" type="text"
										placeholder="Nhập tên" class="form-control" id="fulName" />
								<span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></span>
								</div>
								</div>
							
							<div class="row">
							
								<div class="form-group col-sm-6">
								<label for="indendityNum">Số CMND:</label> 
								<input th:field="*{indendityNum}" type="text"
									placeholder="Nhập cmnd" class="form-control" id="indendityNum" />
								<span th:if="${#fields.hasErrors('indendityNum')}" th:errors="*{indendityNum}"></span>
							</div>
							
							<div class="form-group col-sm-6 date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
								<label for="text">Ngày sinh:</label> 
								<input type="text" class="form-control" th:field="*{dob}">
								<span th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"></span>
								<span class="input-group-addon">
		                        <span class="glyphicon glyphicon-calendar"></span>
		                    	</span>
							</div>
							</div>
							
							<div class="row">
								<div class="form-group col-sm-6">
								<label for="text">Giới tính:</label> 
								<div class="form-check">
								  <label class="form-check-label">
								    <input th:field="*{sex}" th:value="true" type="radio" class="form-check-input" name="optradio">Nam
								  </label>
								</div>
								<div class="form-check">
								  <label class="form-check-label">
								    <input th:field="*{sex}" th:value="false" type="radio" class="form-check-input" name="optradio">Nữ
								  </label>
								</div>
								<span th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}"></span>
								</div>
							
							<div class="form-group col-sm-6">
								<label for="phone">Số điện thoại:</label> 
								<input th:field="*{phone}" type="text"
									placeholder="Nhập sdt" class="form-control" id="phone" />
								<span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
							</div>
							</div>
							
							
							<div class="form-group">
								<label for="address">Địa chỉ:</label> 
								<input th:field="*{address}" type="text"
									placeholder="Nhập địa chỉ" class="form-control" id="address" />
								<span th:if="${#fields.hasErrors('address')}" th:errors="*{sex}"></span>
							</div>
							
							<div class="form-group">
								<label for="avatar">Hình ảnh:</label> 
								<input th:field="*{image}" type="hidden" id="avatar" />
								<input type="file" name="photo_file">
							</div>
							
							<div class="row">
							
							
							<div class="form-group col-sm-6">
							    <label for="roleselect">Vai trò</label>
							    <select th:field="*{role.id}" class="form-control" id="roleselect">
							      <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
							    </select>
							  </div>
							</div>
							
							
						</div>
						<div class="row justify-content-center">
							<button type="submit" class="btn btn-info">
								<i class="fa fa-check"></i>
								<span th:if="${#httpServletRequest.requestURI == '/manager/lecturer/add'}">Thêm</span> 
								<span th:unless="${#httpServletRequest.requestURI == '/manager/lecturer/add'}">Sửa</span> 
							</button>
							<a th:href="@{/manager/lecturer/list}" class="btn btn-danger"> <i
								class="fa fa-times"></i> Hủy
							</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</html>