<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layouts/main-manager-layout :: main-manager-fragment(  
                                                ~{::title},
                                                ~{::#home-static-resources},
                                                ~{::#home-main-content} )}">
<head>
<title>Quản lý môn học</title>

<th:block id="home-static-resources">

	<link
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
	rel="stylesheet" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
</th:block>

</head>
<div id="home-main-content">
	<div class="row col-sm-12 justify-content-center p-5">
		<div class="col-sm-6">
			<form th:action="${#httpServletRequest.requestURI == '/manager/subject/add' ? '/manager/subject/add' : '/manager/subject/update'}" method="post" th:object="${subject}">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">
							<b> Thông tin môn học </b>
						</h3>
						<hr>
			<div th:if="${message != null}"
           th:utext="${message}" class="alert alert-danger" role="alert"></div>
           <div th:if="${param.message != null}"
           th:text="${param.message[0]}" class="alert alert-warning" role="alert"></div>
						<div class="card-body">

							<div class="form-group">
								<input th:field="*{id}" type="hidden"
									class="form-control" />
								<label for="name">Tên môn học:</label> 
								<input th:field="*{name}" type="text"
									placeholder="Nhập tên" class="form-control" id="name" />
							</div>
							
							<div class="form-group">
								<label for="credits">Số tín chỉ:</label> 
								<input th:field="*{credits}" type="number"
									placeholder="Nhập số tín chỉ" class="form-control" id="credits" />
							</div>
							
							<div class="row">
							
								<div class="form-group col-sm-6">
							    <label for="specialization">Chuyên ngành:</label>
							    <select th:field="*{specialization.id}" class="form-control" id="specialization">
							      <option th:each="s : ${specializations}" th:value="${s.id}" th:text="${s.name}"></option>
							    </select>
							  </div>
							  </div>
							
							<div class="row">
							
								<div class="form-group col-sm-6">
							    <label for="lecturer">Giảng viên:</label>
							    <select th:field="*{lecturer.id}" class="form-control" id="lecturer">
							      <option th:each="l : ${lecturers}" th:value="${l.id}" th:text="${l.fullName}"></option>
							    </select>
							  </div>
							
							</div>
						<div class="row justify-content-center">
							<button type="submit" class="btn btn-info">
								<i class="fa fa-check"></i>
								<span th:if="${#httpServletRequest.requestURI == '/manager/subject/add'}">Thêm</span> 
								<span th:unless="${#httpServletRequest.requestURI == '/manager/subject/add'}">Sửa</span> 
							</button>
							<a th:href="@{/manager/subject/list}" class="btn btn-danger"> <i
								class="fa fa-times"></i> Hủy
							</a>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</html>