<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layouts/main-manager-layout :: main-manager-fragment(  
                                                ~{::title},
                                                ~{::#home-static-resources},
                                                ~{::#home-main-content} )}">
<head>
<title>Quản lý lớp - Danh sách</title>

<th:block id="home-static-resources">
	<script>
$(document).ready(function() {
	
	$(".btn-open-dialog-sc").click(function() {
		var id = $(this).closest("tr").attr("data-id");
		$("#mModal #schoolid").val(id);
	});
	
	$("#btn-delete-sc").click(function() {
		
		var id = $("#mModal #schoolid").val();
		
		$.ajax({
			url: '/manager/class/delete/'+id,
			success: function(mess) {
				$("[data-dismiss]").click();
				location.reload();
				alert(mess);
			}
		});
	});
	
});
</script>
</th:block>

</head>
<div id="home-main-content">
	<div th:if="${message != null}"
           th:utext="${message}" class="alert alert-danger" role="alert"></div>
           <div th:if="${param.message != null}"
           th:text="${param.message[0]}" class="alert alert-warning" role="alert"></div>
	<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Tên lớp</th>
      <th scope="col">Niên khóa</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  	<th:block th:each="n : ${classes}">
    <tr th:attr="data-id=${n.id}">
      <td scope="row" th:utext="${n.id}"></td>
      <td th:utext="${n.name}"></td>
      <td th:utext="${n.schoolYear.name}"></td>
      <td>
      	<a type="button" class="btn btn-primary" th:href="@{'/manager/class/update/' + ${n.id}}">
      	Sửa</a>
      	<a type="button" class="btn btn-danger btn-open-dialog-sc" data-toggle="modal" data-target="#mModal">Xóa</a>
      	<a type="button" class="btn btn-success btn-add-subject" data-toggle="modal" data-target="#mModals">Thêm môn học</a>
      	<a th:href="@{'/manager/class/'+${n.id}+'/list-subject'}" type="button" class="btn btn-warning">Xem danh sách môn học</a>
      </td>
    </tr>
    </th:block>
  </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="mModal" tabindex="-1" role="dialog" aria-labelledby="#mModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nhắc nhở</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<span>Bạn có chắc chắn muốn xóa ?</span>
      	<input id="schoolid" type="hidden" >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
        <button id="btn-delete-sc" type="button" class="btn btn-primary">Có</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="mModals" tabindex="-1" role="dialog" aria-labelledby="#mModals" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thêm môn học vào lớp:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<span>Nhập tên môn học cần tìm :</span>
      	<input id="qs_content" placeholder="Nhập từ khóa" type="text">
      	<input type="hidden" id="classid" >
      	<button id="btn-search" type="button" class="btn btn-primary">Tìm kiếm</button>
      	<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Tên môn</th>
      <th>Số tín chỉ</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="tbody">
  	
   
  </tbody>
</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function () {
	$(".btn-add-subject").click(function() {
		var id = $(this).closest("tr").attr("data-id");
		$("#classid").val(id);
	});
	
	$("#btn-search").click(function() {
		var key = $("#qs_content").val();
		if (key == '') {
			alert("Vui lòng nhập nội dung hợp lệ !");
		} else {
			
			$.ajax({
				url: '/manager/subject/search?key=' + key,
				success: function(res) {
					
					$("#tbody").html("");
					var classId = $("#classid").val();
					
					$(res).each(function(index, subject) {
						
						var tr = $("<tr/>");
						$("<td/>").html(subject.id).appendTo(tr);
						$("<td/>").html(subject.name).appendTo(tr);
						$("<td/>").html(subject.credits).appendTo(tr);
						
						
						var s = `<td>
							<a class="btn btn-sm btn-info" href="/manager/class/`+classId+`/add-subject/`+subject.id+`" >Thêm</a>
						</td>`;
						
						$(s).appendTo(tr);
						
						tr.appendTo("#tbody");
					})
				}
			});
		}
	})
});
</script>
</div>
</html>